
body {
    margin: 0px;
    padding: 0px;
  
}
  
header {
  background-color:rgba(143, 3, 3, 0.719);
  color: white;
  position: sticky;
  
  
}


.header-info {
  display: flex;
  justify-content:space-around;
  
}

.header-info > div {
  padding: 0.2in;
  

}

.header-info > div > h1 {
  text-shadow: teal;


}

.blog-creator {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}

.blog-creator > label {
  color: black;
  font-size: 20px;

}


/*
section {
  margin: 0.7in auto;
  
  max-width: 5in;
  min-width: 3in;
  max-height: 5in;
  border:10px red;

  
}*/



#sections {
  display: grid;
  grid-template-columns: repeat(auto-fill, 260px);
  row-gap: 10px;
  overflow-y: hidden;
}

#section {
  display: block;
  height: 150px;
  width: 250px;
  background-color: red;
  border:thin solid black;
}

#section h2{
  margin-top:1px;
  height: 20px;
  overflow: hidden;
  
}

#section img{
  border: royalblue;


}

#section p2{
  background-color: green;


}